<form
  class="form-control w-50 mx-auto"
  #f="ngForm"
  (submit)="f.form.valid && guardarProducto($event)"
>
  <h3 class="mt-4 mb-4">Detalle Producto</h3>
  <div class="d-flex justify-content-between align-items-center">
    <input
      type="text"
      class="form-control me-2 w-75"
      placeholder="Descripcion Producto"
      id="descripcion"
      name="descripcion"
      [(ngModel)]="descripcionInput"
      required
    />
    <input
      type="number"
      class="form-control me-2 w-25"
      placeholder="Precio"
      id="precio"
      name="precio"
      [(ngModel)]="precioInput"
      required
    />
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-success" type="submit">Guardar Producto</button>
    @if(llaveProducto !== null){
    <button class="btn btn-danger mx-3" (click)="eliminarProducto()">
      Eliminar Producto
    </button>
    }
    <button class="btn btn-warning mx-3" (click)="cancelar()">Cancelar</button>
  </div>
</form>
